.friends{
    .user-avatar{
        width: 62px;
        height: 62px;
        display: inline-block;
    }
    .user-frend-info{
        display: inline-block;
        vertical-align: top;
        max-width: 163px;
    }
    .user-frend{
        float: left;
        width: 50%;
    }
}