@import '~styles/variables.less';
@import '~styles/mixins.less';

.friends{
    width: 494px;
    padding: 0 15px;
    .user-avatar{
        width: 62px;
        height: 62px;
        display: inline-block;
    }
    .user-frend-info{
        display: inline-block;
        vertical-align: top;
        max-width: 163px;
        padding: 0 13px;
        .user-frend-info-name{
        font-weight: bold; 
        font-size: 13px;
        color:@color-denim;
        }
        .user-frend-info-location{
            font-size: 11px;
            color: @color-dark-gray;
            min-height: 25px;
            margin: 4px 0;
        }
        .user-frend-info-status{
            font-size:10px;
            color: @color-dark-lime-green; 
            font-style: italic;
        }
    }
    .user-frend{
        float: left;
        width: 50%;
        padding: 15px 0;
    }
}