
html {
  overflow-y: scroll;
}

#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
}

.loader:before {
  content: 'sdasdads';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 38px;
  height: 38px;
  background: url('/assets/images/loading.gif') 0 0 no-repeat;
  background-size: contain;

}