@import '~styles/variables.less';
@import '~styles/mixins.less';

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #fff;
  }
  
  .loader {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
  }
  
  .loader:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 38px;
    height: 38px;
    background: url('/assets/images/loading.gif') 0 0 no-repeat;
    background-size: contain;
  
  }
html{ 
    font-family: @font-arial;
}
.layout {

    width: 591px;
    height: 418px;
    margin: 0 auto;
    background: url('@{root-images-path}background_of_layout.png');
    border: 1px solid @color-black;
    position: relative;
    top: 45px;
   

}
.container{
    position: relative;
    // width: 489px;
    // min-height: 279px;
    // margin-left: 41px;
    width: 100%;
    min-height: 417px;
    padding: 48px 57px 37px 42px;
    .content{
        background-color:@color-white;
        width: 100%;
        height: 279px;
        overflow: auto;
        border-radius:3px;
        border-top-left-radius: 0; 
        .box-shadow(0 0 3px 0px fade(@color-black, 31%));
    }
}
.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
.tabs {
    .tab {
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: 32px;
        padding: 0 15px;
        margin-right: 5px;
        color: @color-white;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-decoration: none;
        .box-shadow2(0 5px 0 @color-white, 0 1px 3px fade(@color-black, 31%));
        #gradient.vertical(@color-bondiBlue;@color-matisse; 0%; 100%);
        &.active-link {
            background: @color-white;
            color: @color-black;
        }

        &:not(.disabled):hover {
            text-decoration: none;
          //  color: @color-sea-4;
        }
    }
}
//  ::-webkit-scrollbar { width: 3px; height: 3px;}
//  ::-webkit-scrollbar-button {  background-color: #666; }
//  ::-webkit-scrollbar-track {  background-color: #999;}
//  ::-webkit-scrollbar-track-piece { background-color: @color-white;}
//  ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
//  ::-webkit-scrollbar-corner { background-color: #999;}
//  ::-webkit-resizer { background-color: #666;}
 
/* width */
::-webkit-scrollbar { width: 3px;}
::-webkit-scrollbar-track {  box-shadow: inset 0 0 5px grey;  border-radius: 10px;}
::-webkit-scrollbar-thumb {   background: #666;  border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {  background: #b30000; }

@media screen and (max-width: 640px) {
    .container,.layout,.content.fiends{
        padding: 5px;
        width: 100%;
    }
    .container .content,.layout{
        height: auto;
    }
}
 