//custom-colors

@color-sea-0:                 #e6f4f7;
@color-sea-1:                 #bde8ee;
@color-sea-2:                 #85d8e0;
@color-sea-3:                 #39bdcc;
@color-sea-4:                 #0daec0;

@color-green-1:               #edf4be;
@color-green-2:               #cef000;
@color-green-3:               #bad803;

@color-yellow-1:              #fff8b9;
@color-yellow-2:              #fff280;
@color-yellow-3:              #fae521;
@color-yellow-4:              #e8d200;

@color-red-1:                 #fccece;
@color-red-2:                 #fb8988;
@color-red-3:                 #f66f6c;

@color-blue-1:                #e7cfff;
@color-blue-2:                #d0acf6;
@color-blue-3:                #c18cf8;

@color-gray-0:                #f1f2ec;
@color-gray-1:                #f5f5f5;
@color-gray-2:                #dedede;
@color-gray-3:                #cecece;
@color-gray-4:                #bebebe;
@color-gray-5:                #aeaeae;
@color-gray-6:                #797979;
@color-gray-7:                #3d3d3d;

@color-grayish-1:             #d0d6db;
@color-grayish-2:             #91a0ab;
@color-grayish-3:             #728593;
@color-grayish-4:             #536b7b;
@color-grayish-5:             #455866;

@color-grayishYellow-1:       #f3eccf;
@color-grayishYellow-2:       #e7d490;
@color-grayishYellow-3:       #d6bc6f;


@color-grayishYellowLiggt-1:  #f6f7f2;
@color-grayishYellowLiggt-2:  #ebece2;
@color-grayishYellowLiggt-3:  #e1e2d2;

@color-white:                 #fff;
@color-black:                 #000;


@font-verdana:                  Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif;
@font-robotoCondensed:          'RobotoCondensed';
@font-robotoCondensed-bold:     'RobotoCondensed-bold';
@font-robotoCondensed-light:    'RobotoCondensed-light';
@font-roboto:                   'Roboto';



@root-assets-path:        "/assets/";
@root-images-path:        "@{root-assets-path}images/";
@root-fonts-path:        "@{root-assets-path}fonts/";