@color-concrete:            #f3f3f3;
@color-alto:                #d5d5d5;
@color-boulder:             #757575;
@color-denim-2:             #1574af;
@color-denim-1:             #0F7BB1;
@color-gold-drop:           #e67f00;
@color-red:                 #2f8a26;




@color-white:               #fff;
@color-black:               #000;



@font-arial:                   Arial, Verdana, sans-serif;
@font-robotoCondensed:          'RobotoCondensed';
@font-robotoCondensed-bold:     'RobotoCondensed-bold';
@font-robotoCondensed-light:    'RobotoCondensed-light';
@font-roboto:                   'Roboto';



@root-assets-path:        "/assets/";
@root-images-path:        "@{root-assets-path}images/";
@root-fonts-path:        "@{root-assets-path}fonts/";