<div class="content profile">

    <div id="userprofile">


        <div class="userprofile-avatar">
            <div class="avatar">
                <img src="/assets/images/avatar.png" class="avatar-img" alt="avatar" />
            </div>
            <span class="add-user-btn">Добавить в друзья</span>
        </div>
        <div class="userprofile-info">
            <div class="userprofile-info-name">

                <span class="item-text" (click)="edit('username')">
                    <input *ngIf="edit_username" class="item-input" inputAutofocus (blur)="chenge('username')" [(ngModel)]="user.username" /> {{user.username}}
                </span>
            </div>

            <div class="userprofile-info-location">

                <span class="item-text" (click)="edit('location')">
                    <input *ngIf="edit_location" class="item-input" inputAutofocus (blur)="chenge('location')" [(ngModel)]="user.location" /> {{user.location}}
                </span>
            </div>
            <div class="personal-info">

                <div class="personal-info-item">
                    <span class="title">Семейное положение</span>

                    <span (click)="edit('marital_status')" class="item-text">
                        <input *ngIf="edit_marital_status" inputAutofocus class="item-input" (blur)="chenge('marital_status')" [(ngModel)]="user.marital_status"
                        /> {{user.marital_status}}
                    </span>
                </div>

                <div class="personal-info-item">
                    <span class="title">Телефон</span>

                    <span (click)="edit('phoneNumber')" class="item-text">
                        <input *ngIf="edit_phoneNumber" inputAutofocus class="item-input" (blur)="chenge('phoneNumber')" [(ngModel)]="user.phoneNumber"
                        /> {{user.phoneNumber}}
                    </span>
                </div>

                <div class="personal-info-item">
                    <span class="title">E-mail</span>

                    <span (click)="edit('email')" class="item-text">
                        <input *ngIf="edit_email" inputAutofocus class="item-input" (blur)="chenge('email')" [(ngModel)]="user.email" /> {{user.email}}
                    </span>
                </div>
            </div>

            <div class="interests">
                <span class="title">Интересы</span>
                <ul class="checkboxs-list scroll">

                    <ng-container *ngFor="let item of userInterests; let i = index">
                        <span class="userInteres" (click)="delete(i)"> {{item}}</span>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="add-interes">
    <input type="text" class="add-interes-input" name="interes" placeholder="добавить интерес" maxlength="18" required (keyup)="0"
        #interesInput />
    <button class="add-interes-btn" (click)="addInteres()">+</button>
    <!-- <div class="error-message-container" [ngSwitch]="error.interes">
        <div *ngSwitchCase="1" class="icon error-message">такой интерес уже добавлен</div>
        <div *ngSwitchDefault>
            <span *ngIf="interesInput.value.length >= 18" class="icon error-message">
                не больше 18 символов!
            </span>
            <span *ngIf="interesInput.value.split(',').length > 1" class="icon error-message">
                символ "," зарезервирован
            </span>

        </div>

    </div> -->
</div>