<div class="container">
    <div class="contacts pull-left">
        <address>
            <a href="mailto:partners@advarkads.com">partners@advarkads.com</a>
            <div i18n>125047, Москва, ул. 1-я Брестская, д.35 , офис 303</div>
            <div i18n>+7 (812) 655-50-39</div>
        </address>
        <ul class="social-buttons pull-left">
            <li><a href="https://vk.com/advarkads" target="_blank" class="icon vk"></a></li>
            <li><a href="https://www.facebook.com/advarkads" target="_blank" class="icon fb"></a></li>
            <li><a href="https://www.linkedin.com/company/advark-video-advertising-network" target="_blank" class="icon in"></a></li>
        </ul>
    </div>
    <div class="links pull-right">
        <div>
            <h3 i18n>
                О компании
            </h3>
            <ul>
                <li><a href="//advarkads.com/adv-types" i18n>Виды рекламы</a></li>
                <li><a href="//advarkads.com/contacts" i18n>Контакты</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="additional-info">
    <div class="container">
        <div class="left-col pull-left">
            <div><a href="https://advarkads.com/confidential" target="_blank" i18n>Политика конфиденциальности</a></div>
            <div class="copyright">© ADVARK 2014 - {{year}}</div>
        </div>
        <div class="right-col pull-right">
            <!--<div class="comscore"></div>-->
            <a href="https://advarkads.com/Advark_TNS_Web_Index.pdf" target="_blank" class="icon tns"></a>
            <!--LiveInternet counter-->
            <!--<div class="live" ng-bind-html="::counters.liveInternet">-->
            <!-- </div> -->
            <!--/LiveInternet-->
        </div>
    </div>
</div>